/* regole debug */
[class*="col-"]{
  border: 1px solid black;
  min-height: 80px;
}
header{
  background-color: lightblue;
}
section{
  padding: 50px 0;
  text-align: center;
}
.jumbotron, .about{
  background-color: lightgreen;
  color: white;
}
ul{
}
li{
  display: inline-block;
  list-style-type: none;

}
.footup{
  background-color: lightblue;
}
.footdouwn{
  background-color: darkgrey;
}




/* regole generali */
.centratore{
  width: 80%;
  margin: 0 auto;

}
