/* regole debug */
/* [class*="col-"]{
  border: 1px solid black;
  min-height: 60px;
} */



section, footer{

  text-align: center;
}




li{
  display: inline-block;
  list-style-type: none;

}





/* regole generali */
body{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
}
.centratore{
  width: 80%;
  margin: 0 auto;

}
.sottotitoli{
  font-size: 48px;
  font-weight: 600;
  font-family: 'Montserrat';
  white-space: nowrap;
}
.jumbo, .about{
  background-color:  rgb(26, 188, 156);
  color: white;

}


/* regole header */
header{
  background-color: #2c3e50;
  height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 200;
}
header .navbar-default{
  background-color: #2c3e50;
  border-color: transparent;


}
header .navbar-default .navbar-brand{
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 60px;
}
header .navbar-default .navbar-brand:hover{
  color:white;
}

header .navbar-default .navbar-nav>li>a {
  color: white;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 60px;
}
header .navbar-default .navbar-nav>li>a:hover{
  color:rgb(26, 188, 156);
}

/* sezione jambotron */
.jumbo{
  min-width: 100%;
  padding: 100px 0 0 0;
}
.jumboimm{
  width: 100%;
  height: 250px;
}

.logo{
  font-family:'Montserrat';
  min-width: 100%;
  white-space: nowrap;
  padding-top: 20px;
  font-size: 54px;
  font-weight:700;
  line-height: 56px;
}
.fa-star{
  font-size: 3.5rem;
  margin: 1.5rem;
}
.decolinea{
    width: 100%;
    max-width: 7rem;
    height: 0.4rem;
    background-color: #2c3e50;
    border-radius: 1rem;
    background-color: #fff;
    display:inline-block;
    vertical-align: text-top;

}


.listajambo{
  font-family:'Lato';
  font-size: 2.2rem;
  font-weight: 500;
 padding: 15px 10px 0 0;
 color: white;
 padding-bottom: 70px;
}
/* sezione portfolio */
.row .imgbox{
  margin-bottom: 50px;
}
.row .imgbox img{
  width: 310px;
  height: 250px;
  border-radius: 10px;
}
.portfolio .row .sottotitoli{
color:#2c3e50;
padding-top: 70px;

}
.deco{
  min-width: 100%;
  white-space: nowrap;
}
.portfolio .fa-star{
  color:#2c3e50;
  padding-bottom: 30px;

}
.portfolio .decolinea, .contactme .decolinea{
background-color: #2c3e50;
}
/* sezione about, contactme */
.about, .contactme{
  padding: 70px 0;
}
.about .aboutparagraph{
  font-family: 'Lato';
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  padding-top: 25px;
}
.boxscarica{
padding: 50px 0 ;

}
.bottone{
  color: white;
  font-size: 23px;
  line-height: 30px;
  padding:15px 15px;
  border-radius: 8px;
  border: 1.5px solid white;
  white-space: nowrap;
}

.iconascarica:hover{
  color:black;
  background-color: white;
  text-decoration: none;
}
.contactme .deco{
  margin-bottom: 60px;
}

.campi{
  width: 100%;
  min-width: 100%;
  border: none;
  border-bottom: 1px solid lightgrey;
  font-size: 25px;
  color: rgb(73, 80, 87);
  padding: 25px;
}
.campi:last-child{
  padding-bottom: 120px;
}
.bottone.inviaform{
  color:#fff;
  background-color: #1abc9c;
  border-color: #1abc9c;

}
.contactme .sx{
  text-align: left;
}
.inviaform:hover{
  text-decoration: none;
  background-color:#159a80;
  border-color: #148f77;

}

/* regole footer */
footer{
  color: white;
  font-family: 'Montserrat';
}
.footup{
  background-color: rgb(44, 62, 80);
}
.footdouwn{
  background-color: rgb(26, 37, 47);
}


footer .titlefoot{
font-size: 25px;
line-height: 29px;
padding: 30px 0 20px 0;
font-weight: 600;
}
footer .contenutotesto{
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 80px;
}
.fab{
  min-width:  20px;
  color: white;


}
.iconesocial{
  border: 1.3px solid white;
  border-radius: 100%;
  background-color: rgb(44, 62, 80);
  padding:10px;
  margin-left: 10px;

}
.fab:hover{
color: #212529;
background-color: #f8f9fa;
border-color: #f8f9fa;

}
.iconesocial:hover{
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  text-decoration: none;
}
.linkfinale{
  display: block;
  color:#1abc9c;
}
.linkfinale:hover{
  color: #1abc9c;
}
.footdouwn .diritti{
  line-height: 60px;
  font-size: 15px;
}
